@import "reset";
@import "variables/global";
@import "theme/dark";
@import "theme/normal";

#root {
    height: 100vh;
}

.app {
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}
