.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    height: 100vh;
    font: var(--font-m)
}

.title {
    padding-bottom: 40px;
    font-size: 40px;
}

.description {
    display: flex;
    width: 300px;
    border: 1px dotted purple;
    font-size: 20px;
    text-decoration: underline;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    background-color: aliceblue;
    border: 1px solid rgb(45 45 212);
    border-radius: 6px;

    span {
        color: red;
        font-family: cursive;
    }

    .inputLogin {
        height: 40px;
        font-family: cursive;
        border-radius: 4px;
        padding: 8px;
    }
}

.lang {
    position: absolute;
    right: 30px;
    top: 0;
}
