.NotFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: var(--font-l);
    height: 100%;
    background-color: rgb(106 250 202);
}

.Title {
    margin-top: 30px;
    font-size: 20px;
}